.slider {
  background: #F8FAF9;

  &__container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 50%;

    &:hover {
      cursor: pointer;
    }

    &--left {
      left: 0;
    }

    &--right {
      rotate: 180deg;
      right: 0;
    }

    &--icon {
      width: rem(14px);
      height: rem(28px);
    }
  }

  &__list {

  display: flex;
  position: relative;
  right: 0;

    &-wrap {
      display: flex;
    }

   &__img {

      &-wrap {
      width: 40%;
      margin-right: rem(60px);

      //почему не работает
      @include tablets {
        width: 30%;
        margin-bottom: rem(48px);
        }
      }
    }
  }

  //а это работает
  .slider__img-wrap {

    @include tablets {
      width: 30%;
      margin-bottom: rem(48px);
    }
  }

  &__item {
    width:rem(1000px);

    //@include tablets {
    //  flex-direction: column;
    // }
  }
}

.slide {

  display: flex;
  justify-content: space-between;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

  &__content {
    width: 50%;

    @include tablets {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
  }

  &__dropdown {
    margin-bottom: rem(24px);

    @include tablets {
      display: none;
    }

    &__link {
      width: rem(90px);
      height: rem(90px);
      background: #9a9a9a;
      border-radius: 5px;
      position: relative;

      &:hover + .slide__dropdown-menu {
        display: block;
        }
      
    }

    &-pic {
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: #fff;
    }

    &-menu {
      position: absolute;
      top: 0;
      right: rem(134px);
      position: absolute;
      max-height: 0;
      // overflow: hidden;
      transition: max-height 0.5s;
      display: none;
    }

    &-list {
      width: rem(274px);
      height: rem(294px);
      border-radius: 5px;
      padding: rem(28px) rem(25px) rem(36px) rem(30px);
      background: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      display: flex;
      margin-bottom: rem(28px);
      align-items: center;
      min-width: rem(230px);
    
      &-icon {
        width: rem(24px);
        height: rem(24px);
        margin-right: rem(16px);
      }
    
      &:last-child {
          margin-bottom: 0;
      }
      
      &--title {
        text-align: left;
      }

      &--stat {
        text-align: left;
        min-width: 50px;
        margin-left: auto;
      }
    }
  }

  &__title {
    font-size: rem(36px);
    text-align: left;
    margin-bottom: 0;

    @include tablets {
      font-size: rem(28px);
      text-align: center;
    }

    &-wrap {
      margin-bottom: rem(24px);
    }
  }

  // &__dropdown {
   //  display: flex;
  //  align-items: center;
  //  width: rem(92px);
  //  height: rem(92px);
  //  background:#9A9A9A;
  //  border-radius: 4px;
  //  padding: rem(24px) rem(24px);
  //  margin-bottom: rem(24px);

  //  @include tablets {
  //    display: none;
   // }

  //  &_icon {
  //    width: rem(42px);
  //    height: rem(42px);
  //    color: $white;
  //  }
  // }

  &__desc {
    margin-bottom: rem(26px);
  }

  &__info {
    display: flex;
    margin-bottom: rem(24px);

    @include tablets {
      justify-content: center;
      text-align: left;
    }
  }

  &__bottom {
    display: flex;

    @include tablets {
      justify-content: center;
    }
  }

  &__price {
    font-size: rem(36px);
    color: #151515;
    margin-right: rem(12px);

    @include tablets {
      margin-right: rem(78px);
    }
  }
}

.info {
    
  &__item {
    display: column;
    margin-right: rem(86px);
  
    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    font-weight: bold;
    color: #151515;
  }
}